.wpage{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar{
    position:fixed;
    z-index: 1000;
    top:0;
    left:0;
    right: 0;
    height: 60px;
}
.wpage-content{
    margin-top: 60px;
    flex: 1;
   
}
